@import 'tailwindcss';
@font-face {
  font-family: 'dbmonx';
  src: url('./fonts/DB HelvethaicaMon X Bd v3.2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply m-0;
  overflow-x: hidden;
  font-family: 'dbmonx' , sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
  source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  scroll-behavior: smooth;
}



@plugin "daisyui" {
  themes: light --default, dark --prefersdark , abyss;
}

